html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  border: none;
}

i {
  color: #5c8aa3;
}



/*O NAMA*/
.o-nama {
  padding-top: 120px;
}



/*USLUGE*/
.usluge {
  padding-top: 120px;
}

/*KONTAKT*/
article {
  margin-top: 100px;
  margin-bottom: 30px;
}

/*FOOTER*/
footer {
  margin-top: 25px;
  height: 380px;
  padding: 40px, 25px;
  background-color: #212121;
}

footer .container {
  width:100%;
  padding-right:0;
  padding-left:0;
}

.info {
  text-align: center;
}

footer h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
footer p {
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}
